

            body {
                background-color: rgb(137, 183, 239);
            }

            hr {
                border-style:dotted none none;
                border-color: rgb(23, 177, 232);
                border-width: 5px;
                width: 2%;
            }

            h1{
                color: rgb(224, 26, 172);
                font-family:cursive;
                font-size: 50px;
                
            }
            p{
                color: rgb(254, 253, 253);
            }
            table{
                background-color: rgb(190, 242, 225);
            }
                    
            img{
                border-style:solid;
                border-color: black;
            }
            tr:nth-child(even) {
                background-color: #D6EEEE;
            }

